// breakpoints 
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;
$breakpoint-xl-desktop: 120rem;

//theme colors
$primary-black: #323232;
$primary-blue: #0095FF;
$primary-silver: #AFAFAF;
$primary-white: #ffffff;
$secondary-black: #000000;
$secondary-blue: #0065AD;
$secondary-silver: #E1E1E1;
$secondary-white: #FAFAFA;